:root {
  --theme-m3-background: #fdf7ff;
  --theme-m3-error: #ba1a1a;
  --theme-m3-error-container: #ffdad6;
  --theme-m3-error-dim: #a80710;
  --theme-m3-error-palette-key-color: #de3730;
  --theme-m3-inverse-on-surface: #f5eff7;
  --theme-m3-inverse-primary: #cfbdfe;
  --theme-m3-inverse-surface: #322f35;
  --theme-m3-neutral-palette-key-color: #7a767d;
  --theme-m3-neutral-variant-palette-key-color: #7a757f;
  --theme-m3-on-background: #1d1b20;
  --theme-m3-on-error: #ffffff;
  --theme-m3-on-error-container: #93000a;
  --theme-m3-on-primary: #ffffff;
  --theme-m3-on-primary-container: #4d3d75;
  --theme-m3-on-primary-fixed: #201047;
  --theme-m3-on-primary-fixed-variant: #4d3d75;
  --theme-m3-on-secondary: #ffffff;
  --theme-m3-on-secondary-container: #4a4458;
  --theme-m3-on-secondary-fixed: #1e192b;
  --theme-m3-on-secondary-fixed-variant: #4a4458;
  --theme-m3-on-surface: #1d1b20;
  --theme-m3-on-surface-variant: #49454e;
  --theme-m3-on-tertiary: #ffffff;
  --theme-m3-on-tertiary-container: #633b48;
  --theme-m3-on-tertiary-fixed: #31101d;
  --theme-m3-on-tertiary-fixed-variant: #633b48;
  --theme-m3-outline: #7a757f;
  --theme-m3-outline-variant: #cac4cf;
  --theme-m3-primary: #65558f;
  --theme-m3-primary-container: #e9ddff;
  --theme-m3-primary-dim: #594982;
  --theme-m3-primary-fixed: #e9ddff;
  --theme-m3-primary-fixed-dim: #cfbdfe;
  --theme-m3-primary-palette-key-color: #7e6ea9;
  --theme-m3-scrim: #000000;
  --theme-m3-secondary: #625b71;
  --theme-m3-secondary-container: #e8def8;
  --theme-m3-secondary-dim: #564f64;
  --theme-m3-secondary-fixed: #e8def8;
  --theme-m3-secondary-fixed-dim: #cbc2db;
  --theme-m3-secondary-palette-key-color: #7b748a;
  --theme-m3-shadow: #000000;
  --theme-m3-surface: #fdf7ff;
  --theme-m3-surface-bright: #fdf7ff;
  --theme-m3-surface-container: #f2ecf4;
  --theme-m3-surface-container-high: #ece6ee;
  --theme-m3-surface-container-highest: #e6e0e9;
  --theme-m3-surface-container-low: #f8f2fa;
  --theme-m3-surface-container-lowest: #ffffff;
  --theme-m3-surface-dim: #ded8e0;
  --theme-m3-surface-tint: #65558f;
  --theme-m3-surface-variant: #e7e0eb;
  --theme-m3-tertiary: #7e5260;
  --theme-m3-tertiary-container: #ffd9e3;
  --theme-m3-tertiary-dim: #704654;
  --theme-m3-tertiary-fixed: #ffd9e3;
  --theme-m3-tertiary-fixed-dim: #efb8c8;
  --theme-m3-tertiary-palette-key-color: #996a79;
}

:root[data-color-scheme="dark"] {
  --theme-m3-background: #141218;
  --theme-m3-error: #ffb4ab;
  --theme-m3-error-container: #93000a;
  --theme-m3-error-dim: #ff554a;
  --theme-m3-error-palette-key-color: #de3730;
  --theme-m3-inverse-on-surface: #322f35;
  --theme-m3-inverse-primary: #65558f;
  --theme-m3-inverse-surface: #e6e0e9;
  --theme-m3-neutral-palette-key-color: #7a767d;
  --theme-m3-neutral-variant-palette-key-color: #7a757f;
  --theme-m3-on-background: #e6e0e9;
  --theme-m3-on-error: #690005;
  --theme-m3-on-error-container: #ffdad6;
  --theme-m3-on-primary: #36275d;
  --theme-m3-on-primary-container: #e9ddff;
  --theme-m3-on-primary-fixed: #201047;
  --theme-m3-on-primary-fixed-variant: #4d3d75;
  --theme-m3-on-secondary: #332d41;
  --theme-m3-on-secondary-container: #e8def8;
  --theme-m3-on-secondary-fixed: #1e192b;
  --theme-m3-on-secondary-fixed-variant: #4a4458;
  --theme-m3-on-surface: #e6e0e9;
  --theme-m3-on-surface-variant: #cac4cf;
  --theme-m3-on-tertiary: #4a2532;
  --theme-m3-on-tertiary-container: #ffd9e3;
  --theme-m3-on-tertiary-fixed: #31101d;
  --theme-m3-on-tertiary-fixed-variant: #633b48;
  --theme-m3-outline: #948f99;
  --theme-m3-outline-variant: #49454e;
  --theme-m3-primary: #cfbdfe;
  --theme-m3-primary-container: #4d3d75;
  --theme-m3-primary-dim: #c7b4f5;
  --theme-m3-primary-fixed: #e9ddff;
  --theme-m3-primary-fixed-dim: #cfbdfe;
  --theme-m3-primary-palette-key-color: #7e6ea9;
  --theme-m3-scrim: #000000;
  --theme-m3-secondary: #cbc2db;
  --theme-m3-secondary-container: #4a4458;
  --theme-m3-secondary-dim: #e8def8;
  --theme-m3-secondary-fixed: #e8def8;
  --theme-m3-secondary-fixed-dim: #cbc2db;
  --theme-m3-secondary-palette-key-color: #7b748a;
  --theme-m3-shadow: #000000;
  --theme-m3-surface: #141218;
  --theme-m3-surface-bright: #3b383e;
  --theme-m3-surface-container: #211f24;
  --theme-m3-surface-container-high: #2b292f;
  --theme-m3-surface-container-highest: #36343a;
  --theme-m3-surface-container-low: #1d1b20;
  --theme-m3-surface-container-lowest: #0f0d13;
  --theme-m3-surface-dim: #141218;
  --theme-m3-surface-tint: #cfbdfe;
  --theme-m3-surface-variant: #49454e;
  --theme-m3-tertiary: #efb8c8;
  --theme-m3-tertiary-container: #633b48;
  --theme-m3-tertiary-dim: #fec5d6;
  --theme-m3-tertiary-fixed: #ffd9e3;
  --theme-m3-tertiary-fixed-dim: #efb8c8;
  --theme-m3-tertiary-palette-key-color: #996a79;
}
